<div class="h-screen bg-black w-[20%] max-w-[20%] fixed right-0">
  <div class="flex h-full w-full justify-start items-center">
    <div class="p-4 flex flex-col justify-around w-auto items-center gap-2">
      <a
        href="index#introduction"
        class="nav-item h-20 p-5 text-start"
        >Introduction</a>
      <a
        href="index#projects"
        class="nav-item h-20 p-5 text-start"
        >Projects</a>
      <a
        href="index#blogs"
        class="nav-item h-20 p-5 text-start"
        >Blogs</a>
      <a
        href="index#contact"
        class="nav-item h-20 p-5 text-start"
        >Contact</a>
      <a
        href="history"
        class="nav-item h-20 p-5 text-start"
        >Maps</a>
    </div>
  </div>
</div>
