<div
  id="modal-wellcome"
  class="hidden fixed transition-shadow ease-in-out duration-75 max-w-full h-1/4 z-50 bg-zinc-900 md:inset-0 top-1 left-0 right-0 m-2 rounded-md"
  onchange="handleCloseModal()"
>
  <button
    type="button"
    onclick="handleCloseModal()"
    class="absolute right-2 top-2 text-zinc-500 hover:cursor-pointer hover:text-white"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="w-4 h-4"
    >
      <path
        fill-rule="evenodd"
        d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-1.72 6.97a.75.75 0 10-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 101.06 1.06L12 13.06l1.72 1.72a.75.75 0 101.06-1.06L13.06 12l1.72-1.72a.75.75 0 10-1.06-1.06L12 10.94l-1.72-1.72z"
        clip-rule="evenodd"
      />
    </svg>
  </button>

  <div
    class="flex mt-2 p-2 w-full justify-center items-center align-middle flex-col text-zinc-500"
  >
    <h6 class="mb-2 max-w-md font-bold"> HELLO THERE 👋🏻 </h6>
    <h6 class="mb-0 max-w-md font-light text-sm">
      All of this I presented for my Son in the future, for they know what must
      be looking in this world using map and story, and also if you not my Son,
      please enjoy...
    </h6>
    <small class="absolute bottom-0 mb-2 text-sm font-light italic"
      >from your 🤍</small
    >
  </div>
</div>
