<div
  class="w-[80%] fixed z-50 bg-black p-2 shadow-md shadow-white/10 text-white flex justify-between items-center"
>
  <div class="flex gap-4 items-center">
    <a
      target="_blank"
      rel="noreferrer noopener"
      data-tippy-content="@github_handle"
      href="https://github.com/ngrhadi/"
      class="w-6 h-6"
      style="background: url(/assets/icons/github.svg) no-repeat 50% 50%"
    >
    </a
    ><a
      target="_blank"
      rel="noreferrer noopener"
      data-tippy-content="@linkin_handler"
      href="https://www.linkedin.com/in/ngrhadi13/"
      class="w-6 h-6"
      style="background: url(/assets/icons/linkedin.svg) no-repeat 50% 50%"
    ></a
    ><a
      target="_blank"
      rel="noreferrer noopener"
      data-tippy-content="@twitter_handle"
      href="https://twitter.com/ngrhngrh"
      class="w-6 h-6"
      style="background: url(/assets/icons/twitter.svg) no-repeat 50% 50%"
    ></a>
  </div>
  <div class="text-xl font-semibold"> Visual My Portfolio </div>
  <div class="flex gap-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="white"
      class="size-6"
    >
      <path
        d="M1.5 8.67v8.58a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3V8.67l-8.928 5.493a3 3 0 0 1-3.144 0L1.5 8.67Z"
      />
      <path
        d="M22.5 6.908V6.75a3 3 0 0 0-3-3h-15a3 3 0 0 0-3 3v.158l9.714 5.978a1.5 1.5 0 0 0 1.572 0L22.5 6.908Z"
      />
    </svg>
    adi@ngrhadi.web.id
  </div>
</div>
